bambu_nettuno/bambu_nettuno/xml-resources/web-service-references/LecturaTarjeta_400/wsdl/wwwi.transact.com.uy/Concentrador/LecturaTarjeta_400.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="https://wwwi.transact.com.uy/Concentrador/LecturaTarjeta_400.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TransActV4ConcentradorWS.TransActV4Concentrador"/><xs:element name="PostearLecturaTarjeta"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="LecturaTarjeta" nillable="true" type="q1:ILecturaTarjeta_400.LecturaTarjeta" xmlns:q1="http://schemas.datacontract.org/2004/07/TransActV4ConcentradorWS.TransActV4Concentrador"/></xs:sequence></xs:complexType></xs:element><xs:element name="PostearLecturaTarjetaResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="PostearLecturaTarjetaResult" nillable="true" type="q2:ILecturaTarjeta_400.RespuestaPostearLecturaTarjeta" xmlns:q2="http://schemas.datacontract.org/2004/07/TransActV4ConcentradorWS.TransActV4Concentrador"/></xs:sequence></xs:complexType></xs:element><xs:element name="ConsultarLecturaTarjeta"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="TokenNro" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="ConsultarLecturaTarjetaResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ConsultarLecturaTarjetaResult" nillable="true" type="q3:ILecturaTarjeta_400.RespuestaConsultarLecturaTarjeta" xmlns:q3="http://schemas.datacontract.org/2004/07/TransActV4ConcentradorWS.TransActV4Concentrador"/></xs:sequence></xs:complexType></xs:element></xs:schema>